project/workspace/concesionaria_cxf_one/WebContent/wsdl/concesionariacxfone.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ConcesionariaCXFOneService" targetNamespace="http://ws.das.edu.ubp.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.das.edu.ubp.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://ws.das.edu.ubp.ar/" schemaLocation="concesionariacxfone_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="consultarPlanResponse">
    <wsdl:part name="parameters" element="tns:consultarPlanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPlan">
    <wsdl:part name="parameters" element="tns:cancelarPlan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPlanes">
    <wsdl:part name="parameters" element="tns:consultarPlanes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPlan">
    <wsdl:part name="parameters" element="tns:consultarPlan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPlanResponse">
    <wsdl:part name="parameters" element="tns:cancelarPlanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPlanesResponse">
    <wsdl:part name="parameters" element="tns:consultarPlanesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConcesionariaCXFOne">
    <wsdl:operation name="cancelarPlan">
      <wsdl:input name="cancelarPlan" message="tns:cancelarPlan">
    </wsdl:input>
      <wsdl:output name="cancelarPlanResponse" message="tns:cancelarPlanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlanes">
      <wsdl:input name="consultarPlanes" message="tns:consultarPlanes">
    </wsdl:input>
      <wsdl:output name="consultarPlanesResponse" message="tns:consultarPlanesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlan">
      <wsdl:input name="consultarPlan" message="tns:consultarPlan">
    </wsdl:input>
      <wsdl:output name="consultarPlanResponse" message="tns:consultarPlanResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConcesionariaCXFOneServiceSoapBinding" type="tns:ConcesionariaCXFOne">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancelarPlan">
      <soap:operation soapAction="urn:CancelarPlan" style="document"/>
      <wsdl:input name="cancelarPlan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarPlanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlanes">
      <soap:operation soapAction="urn:ConsultarPlanes" style="document"/>
      <wsdl:input name="consultarPlanes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarPlanesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlan">
      <soap:operation soapAction="urn:ConsultarPlan" style="document"/>
      <wsdl:input name="consultarPlan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarPlanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConcesionariaCXFOneService">
    <wsdl:port name="ConcesionariaCXFOnePort" binding="tns:ConcesionariaCXFOneServiceSoapBinding">
      <soap:address location="http://localhost:8280/concesionaria_cxf_one/services/ConcesionariaCXFOnePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
